body {
  margin: 0;
  font-family: "Gill Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  background-color: #efebde;
}

.application-form_fields {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  align-items: baseline;
}

.application-form_buttons {
  display: flex;
  justify-content: end;
}

.application-form_btn {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0px 0px 5px 0px #364e96;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.application-form_note {
  text-align: center;
}

.application-form_text {
  display: flex;
  justify-content: left;
}

.application-form_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.application-form_radiobuttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.application-form_payment {
  display: flex;
  margin-left: 120px;
}

.application-form_radiobtn {
  display: flex;
}

.custom-file-upload {
  border: black 1px solid;
  cursor: pointer;
  text-align: center;
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0px 0px 5px 0px #364e96;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
}

h4 {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  color: #364e96;
}

form {
  margin: auto;
  max-width: 1100px;
  padding: 0px 30px;
  font-weight: bold;
}

form p {
  color: #221c1c;
}

form legend {
  padding: 0px 3px;
  color: #364e96;
  font-style: italic;
}

form label {
  display: flex;
  margin: 6px;
}

form em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

form input,
textarea {
  width: 70%;
  border: 1px solid #364e96;
  padding: 5px;
}

form textarea {
  height: 70%;
}

form select {
  width: 70%;
  padding: 5px;
}

form fieldset {
  margin-top: 20px;
}
