body {
  margin: 0;
  font-family: "Helvetica,Arial,sans-serif";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  background-color: #efebde;
}

.application-form__fields {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: left;
  align-items: center;
}

.application-form__buttons {
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
  align-items: center;
  width: 92%;
}

.application-form__btn {
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0px 0px 5px 0px #364e96;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.application-form__note {
  text-align: center;
  font-weight: normal !important;
}

.application-form__text {
  display: flex;
  justify-content: left;
}

.application-form__checkbox {
  display: flex;
  align-items: center;
  margin-left: 219px;
  margin-top: 10px;
}

.application-form__checkboxex {
  margin-left: 120px;
}

.application-form__checkbox1 {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.application-form__checkbox2 {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.application-form__radiobuttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.application-form__payment {
  display: flex;
  margin-left: 53px;
}

.application-form__radiobtn {
  display: flex;
  align-items: center;
}

.application-form__upload {
  border: black 1px solid;
  cursor: pointer;
  text-align: center;
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0px 0px 5px 0px #364e96;
  padding: 7px;
  border-radius: 5px;
  margin-left: 480px;
  font-weight: normal;
}

.application-form__indentation {
  margin-left: 9px;
}

.application-form__attached {
  display: flex;
  justify-content: center;
  align-items: center;
}

.application-form__long {
  width: 70%;
}

h4 {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  color: #364e96;
}

form {
  margin: auto;
  max-width: 1100px;
  padding: 10px 30px;
  font-weight: bold;
}

form p {
  color: #221c1c;
}

form legend {
  padding: 0px 3px;
  color: #364e96;
  font-style: italic;
}

.application-form__legend-secondary {
  font-weight: normal;
}

.application-form__average-input {
  width: 40%;
}

form label {
  margin: 6px;
  flex: 0 0 20%;
  text-align: end;
}

form em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

form input,
form textarea {
  border: 1px solid #364e96;
  padding: 5px;
}

.application-form__textarea {
  width: 70%;
}

form select {
  width: 71%;
  padding: 5px;
}

form fieldset {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
